/*********************************** Side NavBar ****************************/
.wrapper {
  display: flex;
  align-items: stretch;
}

#content {
  background-color: white !important;
  border-right: 1px solid #a9c6ea;
}

.navbar {
  min-width: 200px;
  max-width: 200px;
  background-color: white !important;
  text-align: center;
}

h3 {
  color: #2fbef3;
  margin-bottom: 0px;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  /* don't forget to add all the previously mentioned styles here too */
  background: #17375e;
  color: #fff;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #fff;
  background: #215968;
}

#sidebar ul li {
  border-bottom: 1px solid white !important;
}

#sidebar ul li.active > a {
  color: #fff;
  background: #215968;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

#notification {
  width: 100%;
  background-color: white !important;
  border-bottom: 1px solid #a9c6ea;
  height: 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#notification .container-left {
  margin-left: 40px;
}

#notification a {
  margin: 0px 40px;
  color: #a5c3e8;
}
/****************************************************************************/

#content {
  width: 100%;
}

#forecasts {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.box {
  background-color: #2a2a2a;
  text-align: center;
  width: 100%;
}

.box label {
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
}

#box-weather {
  border: 1px solid #000000;
  margin: 10px;
}

#box-water {
  display: flex;
  margin: 10px;
  border: 1px solid #000000;
}

.concentration {
  display: flex;
  margin: 15px;
  justify-content: space-between;
}

#box-water .water, #box-water .coral {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #000000;
  padding-right: 0px;
  padding-left: 0px;
}

.box-name {
  color: #092866;
  text-align: center;
  border-bottom: 2px solid #2c407b;
}

#weather {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  margin: 10px;
}

.container {
  margin: 20px;
  width: 250px;
  position: relative;
}

.container::after {
  content: "100";
  position: absolute;
  right: 17px;
  bottom: -20px;
  color: #6b6967;
}

.container--adjust-limit::after {
  content: "50";
  position: absolute;
  right: 17px;
  bottom: -20px;
  color: #6b6967;
}

.container::before {
  content: "0";
  position: absolute;
  left: 27px;
  bottom: -20px;
  color: #6b6967;
}

/**************************** Weather Box ***************************/
.container-temp {
  width: 300px;
  background-color: #fff;

  display: block;
  margin: 0 auto;

  border-radius: 10px;
  padding-bottom: 50px;
}

.app-title {
  width: 300px;
  height: 50px;
  border-radius: 10px 10px 0 0;
}

.app-title p {
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  font-size: 1.2em;
  color: #293251;
}

.notification {
  background-color: #f8d7da;
  display: none;
}

.notification p {
  color: #721c24;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

.weather-container {
  width: 300px;
  height: 260px;
  background-color: #f4f9ff;
  border-radius: 20%;
}

.weather-icon {
  width: 300px;
  height: 128px;
}

.weather-icon img {
  display: block;
  margin: 0 auto;
}

.temperature-value {
  width: 300px;
  height: 60px;
}

.temperature-value p {
  padding: 0;
  margin: 0;
  color: #293251;
  font-size: 4em;
  text-align: center;
  cursor: pointer;
}

.temperature-value span {
  color: #293251;
  font-size: 0.5em;
}

.temperature-desc {
  margin: 5px 0px;
}

.temperature-desc p {
  padding: 8px;
  margin: 0;
  color: #293251;
  text-align: center;
  font-size: 1.2em;
}

.location p {
  margin: 0;
  padding: 0;
  color: #293251;
  text-align: center;
  font-size: 0.8em;
}

#box-device {
  display: flex;
  margin: 10px;
  border: 1px solid #000000;
}

#box-device .water, #box-device .coral {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #000000;
  padding-right: 0px;
  padding-left: 0px;
}